// ## Theme 1

//  ### backgrounds
$t1-main-bg: hsl(222, 26%, 31%);
$t1-secondary-bg: hsl(223, 31%, 20%);
$t1-screen-bg: hsl(224, 36%, 15%);

// #### keys
$t1-key-bg-dark-blue: hsl(225, 21%, 49%);
$t1-key-shadow-dark-blue: hsl(224, 28%, 35%);
$t1-key-bg-red: hsl(6, 63%, 50%);
$t1-key-shadow-red: hsl(6, 70%, 34%);
$t1-key-bg-orange: hsl(30, 25%, 89%);
$t1-key-shadow-orange: hsl(28, 16%, 65%);

// ####text
$t1-text-dark-grayish-blue: hsl(221, 14%, 31%);
$text-white: hsl(0, 0, 100%);

// ## Theme 2

// #### Backgrounds
$t2-main-bg: hsl(0, 0%, 90%);
$t2-secondary-bg: hsl(0, 5%, 81%);
$t2-screen-bg: hsl(0, 0%, 93%);

// #### Keys
$t2-key-bg-cyan: hsl(185, 42%, 37%);
$t2-key-shadow-cyan: hsl(185, 58%, 25%);
$t2-key-bg-orange: hsl(25, 98%, 40%);
$t2-key-shadow-orange: hsl(25, 99%, 27%);
$t2-key-bg-yellow: hsl(45, 7%, 89%);
$t2-key-shadow-orange: hsl(35, 11%, 61%);

// #### Text

$t2-text-dark-grayish-yellow: hsl(60, 10%, 19%);

// ### Theme 3

// #### Backgrounds
$t3-main-bg: hsl(268, 75%, 9%);
$t3-secondary-bg: hsl(268, 71%, 12%);

// #### Keys

$t3-key-bg-dark-violet: hsl(281, 89%, 26%);
$t3-key-shadow-magenta: hsl(285, 91%, 52%);
$t3-key-bg-cyan: hsl(176, 100%, 44%);
$t3-key-shadow-cyan: hsl(177, 92%, 70%);
$t3-key-bg-very-dark-violet: hsl(268, 47%, 21%);
$t3-ley-bg-dark-magenta: hsl(290, 70%, 36%);

// #### Text

$t3-text-yellow: hsl(52, 100%, 62%);
$t3-text-dark-blue: hsl(198, 20%, 13%);

// ## Typography

// ### Font Size
$text-xs: 13px;
$text-sm: 17px;
$text-md: 24px;
$text-base: 32px;

// ### Font Family
$spartan: "Spartan", sans-serif;

// mixins

@mixin keyShadow($shadowColor, $bgColor) {
  box-shadow: 0px 3px 0px $shadowColor;
  background-color: $bgColor;
}

%number-shared {
  @include keyShadow($t1-key-shadow-orange, $t1-key-bg-orange);
  font-size: $text-md;
  color: $t1-key-shadow-dark-blue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $t1-main-bg;
  font-family: $spartan;
  font-weight: bold;
}

#calculator {
  min-width: 320px;
  width: 100%;
  max-width: 430px;
  background-color: $t1-main-bg;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px;

  #calculator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $text-white;
    }

    #theme-controls {
      display: flex;
      gap: 25px;
      align-items: flex-end;

      h2 {
        font-size: $text-xs;
        color: $text-white;
        margin-bottom: 5px;
      }

      #theme-chooser {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        #theme-number {
          display: flex;
          list-style: none;
          justify-content: space-between;
          width: 55px;
          color: $text-white;
          font-size: $text-xs;

          li {
            opacity: 70%;
            cursor: pointer;
          }

          .active-theme-number {
            opacity: 100%;
          }
        }
      }
      #pill {
        background-color: $t1-secondary-bg;
        width: 70px;
        height: 27px;
        border-radius: 10cm;
        position: relative;

        #circle {
          background-color: $t1-key-bg-red;
          width: 17px;
          height: 17px;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translate(0, -50%);
        }
      }
    }
  }

  #screen {
    padding: 22px;
    background-color: $t1-screen-bg;
    border-radius: 10px;
    margin-top: 5px;

    #screen-text {
      font-size: $text-base;
      color: $text-white;
      text-align: right;
    }
  }

  #keypad {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: $t1-secondary-bg;
    border-radius: 10px;

    button {
      height: 60px;
      border-radius: 10px;
      border: none;
      font-family: $spartan;
      font-weight: bold;
      font-size: $text-sm;
      color: $t1-key-bg-orange;
      cursor: pointer;
    }

    .number-key {
      @extend %number-shared;
    }

    .operator-key {
      @extend %number-shared;
    }

    #key-decimal {
      @extend %number-shared;
    }

    #key-reset {
      grid-column: 1 / span 2;
      @include keyShadow($t1-key-shadow-dark-blue, $t1-key-bg-dark-blue);
    }

    #key-del {
      @include keyShadow($t1-key-shadow-dark-blue, $t1-key-bg-dark-blue);
    }

    #key-equals {
      grid-column: 3 / span 2;
      @include keyShadow($t1-key-shadow-red, $t1-key-bg-red);
    }
  }
}

@media screen and (min-width: 480px) {
  #calculator #keypad {
    gap: 20px;
  }
}
